.popup {
  --pixel-size: 5px;
  --bg-color: #21D8D8;
  --border-color: #FFF;
  --text-color: #000;
  --padding: 30px 40px;
  --gap: 30px;
  
  position: fixed;
  /* width: 500px; */
  /* height: 600px; */
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 10;
}

.popup__inner {
  position: relative;
  height: 100%;
  z-index: 2;
}

.popup__inner::before {
  content: '';
  position: absolute;
  width: calc(100% + var(--pixel-size) * 2);
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--border-color);
  z-index: -1;
}

.popup__inner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(100% + var(--pixel-size) * 2);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: var(--border-color);
  z-index: -1;
}

.popup__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
  height: 100%;
  border: var(--pixel-size) solid var(--border-color);
  background: var(--bg-color);
  color: var(--text-color);
  padding: var(--padding);
  overflow: scroll;
}