/* This is the standard container for each section */
.welcome-container {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: auto
}

/* Specify the coordinates of the coordinates here*/
.moon-container {
    position: relative;
    top: 10px;
    left: 10px;
}