/* This is the standard container for each section */
.welcome-container {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
}

/* Specify the coordinates of the coordinates here*/
.moon-container {
    position: absolute;
    top: 5vh;
    left: 8vw;

    width: 14vw;
    height: 14vw;
}

.speech-bubble-one {
    position: absolute;
    top: 80vh;
    left: 80vw;
}