#commitee-cover {
    background-image: url(../../images/committee-2023.JPG);
    background-position: center;
    background-size: 100%;
    background-attachment: scroll;
    padding-top: 75%;
    background-repeat: no-repeat;
}


.cissa-intro {
    padding-right: 8%;
    padding-left: 8%;
    line-height:2em;
    text-align: justify;
    text-justify: inter-word;
}