@font-face {
  font-family: 'Good Times';
  src: url('../../fonts/Good Times.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins.ttf') format('truetype');
}

.popup {
  --pixel-size: 15px;
  --bg-color: #21D8D8;
  --border-color: #FFF;
  --text-color: #000;
  --padding: 10px 20px;
  --gap: 16px;
  
  position: fixed;
  width: 500px;
  /* height: 600px; */
  max-width: 100%;
  /* max-height: 100%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  z-index: 101 !important;
}

.popup__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
  max-height: 400px;
  /* height: 100%; */
  /* border: var(--pixel-size) solid var(--border-color); */
  /* border-bottom: var(--pixel-size) solid var(--border-color);
  border-top: var(--pixel-size) solid var(--border-color);
  border-right: var(--pixel-size) solid var(--border-color);
  border-left: var(--pixel-size) solid var(--border-color); */
  background: var(--bg-color);
  color: var(--text-color);
  padding: var(--padding);
  overflow: scroll;
}

.popup__inner {
  position: relative;
  height: 100%;
  z-index: 2;
}

.popup__inner::before {
  content: '';
  position: absolute;
  width: calc(100% + var(--pixel-size) * 2);
  height: 104%;
  top: -2%;
  left: 50%;
  transform: translateX(-50%) ;
  background: var(--border-color);
  z-index: -1;
}

.popup__inner::after {
  content: '';
  position: absolute;
  width: 104%;
  height: calc(100% + var(--pixel-size) * 2);
  top: 50%;
  left: -2%;
  transform: translateY(-50%);
  background: var(--border-color);
  z-index: -1;
}



.popup__content h3 {
  font-family: 'Good Times';
  font-size: 20px;
  font-weight: 700;
  font-style: normal;

}

.popup__content p {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.popup__content ul {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.popup__content ol {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

/* .popup__content h1,
.popup__content h2,
.popup__content h3,
.popup__content h4,
.popup__content h5,
.popup__content h6 {
  font-family: 'Good Times';
  font-size: 1.2rem;
  line-height: 1.5em;
}

.popup__content a {
  color: black !important;
  text-decoration: underline;
}

.popup__content ul {
  margin-left: -8px;
}

li {
  list-style-type: none;
  position: relative;    /* It's needed for setting position to absolute in the next rule. */
/*}

li::before {
  content: '';
  position: absolute;
  display: block;
  width: var(--bullet-size);
  height: var(--bullet-size);
  background: black;
  border-radius: 100%;
  top: calc((1.5em - var(--bullet-size)) / 2);
  left: calc(-1 * (var(--bullet-size) + 10px));
} */