.interviewHeading {
    position: absolute;
    top: 10svh;

    height: 5svh;
    width: 100vw;

    flex-shrink: 0;

    color: #21D8D8;
    text-align: center;
    font-family: 'Good Times';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    z-index: 2;
}