.sponsors {
    max-height: 115px;
    max-width: 250px;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.sponsor-intro {
    padding-top: 55px;
}

.sponsor-email{
    padding-top: 55px;
    font-size: 20px;
    font-family: 'poppins';
}

