.appFrame {
    position: relative;
    top: 0;
    left: 0;

    flex-shrink: 0;
    flex-grow: 0;

    width: 100%;
    height: 100%;
}

.appTest {
    display: flex;
    flex-direction: row;

    transform: none;
    transition: transform 1s;

    width: 100vw;
    height: 100vh;

    overflow: auto;
}

.appTestContainer {
    overflow: hidden;
}