#banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-position: center;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    -webkit-animation: crossfade-banner 20s ease infinite;
    animation: crossfade-banner 20s ease infinite;

}

@media screen and (max-width: 730px){
    #banner {
        width: 100%;
        height: 70vh;
        text-align: center;
        background-position: center;
    
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    
        -webkit-animation: crossfade-banner 20s ease infinite;
        animation: crossfade-banner 20s ease infinite;
    
    }    
}

@keyframes crossfade-banner {
    0% {  background-image: url('https://cissa.org.au/assets/images/banner1.jpg'); }
    25% {  background-image: url('https://cissa.org.au/assets/images/banner2.png'); }
    50% {  background-image: url('https://cissa.org.au/assets/images/banner3.jpg'); }
    75% {  background-image: url('https://cissa.org.au/assets/images/banner4.jpg'); }
    100% {  background-image: url('https://cissa.org.au/assets/images/banner1.jpg'); }
}

@-webkit-keyframes crossfade-banner {
    0% {  background-image: url('https://cissa.org.au/assets/images/banner1.jpg'); }
    25% {  background-image: url('https://cissa.org.au/assets/images/banner2.png'); }
    50% {  background-image: url('https://cissa.org.au/assets/images/banner3.jpg'); }
    75% {  background-image: url('https://cissa.org.au/assets/images/banner4.jpg'); }
    100% {  background-image: url('https://cissa.org.au/assets/images/banner1.jpg'); }
}

@-moz-keyframes crossfade-banner {
    0% {  background-image: url('https://cissa.org.au/assets/images/banner1.jpg'); }
    25% {  background-image: url('https://cissa.org.au/assets/images/banner2.png'); }
    50% {  background-image: url('https://cissa.org.au/assets/images/banner3.jpg'); }
    75% {  background-image: url('https://cissa.org.au/assets/images/banner4.jpg'); }
    100% {  background-image: url('https://cissa.org.au/assets/images/banner1.jpg'); }
}

@-o-keyframes crossfade-banner {
    0% {  background-image: url('https://cissa.org.au/assets/images/banner1.jpg'); }
    25% {  background-image: url('https://cissa.org.au/assets/images/banner2.png'); }
    50% {  background-image: url('https://cissa.org.au/assets/images/banner3.jpg'); }
    75% {  background-image: url('https://cissa.org.au/assets/images/banner4.jpg'); }
    100% {  background-image: url('https://cissa.org.au/assets/images/banner1.jpg'); }
}

#banner-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#banner-logo-position {
    position: relative;
    top: 35%;
}

#banner-logo {
    /* margin-top: 10%; */
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tagline-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#tagline {
    margin-top: 10%;
    font-size: calc(16px + 1.5vw);
    color: white;
}