html, body{
    font-size:16px;
    /* padding-top: 40px; */
    font-family: "poppins";
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 300px) {
    html, body{
        font-size: 14px;
        /* padding-top: 40px; */
        font-family: "poppins";
        overflow-x: hidden;
    }
}